[submodule "libteo/libs/ed448goldilocks-code"]
	path = libs/ed448goldilocks-code
	url = https://git.code.sf.net/p/ed448goldilocks/code
[submodule "libteo/libs/flatbuffers"]
	path = libs/flatbuffers
	url = https://github.com/google/flatbuffers
